.message {
    padding:5px;
    max-width: 300px;
    display: flex;
    align-items: flex-end;
}
.message img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.content{
    background: rgba(255,255,255,0.3);
    width: 200px;
    position: relative;
    border-radius: 5% 5% 5% 0;
    word-wrap: break-word;
}
.angle{
    background: radial-gradient(circle at 0 0, rgba(0,0,0,0)20px,rgba(255,255,255,0.3) 0);
    height: 20px;
    width: 20px;

}
.content p{
margin-top: 0;
}
.time{
    position: absolute;
    bottom: 0;
    right: 0;
}
